
<!DOCTYPE html>
{% load static %}
<html>
<head>

    <script src="{% static '/js/script.js' %}" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=B612&display=swap" rel="stylesheet">

	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Mood Player</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>
<!--<style>-->
<!--  body-->
<!--  {-->
<!--  background-color: rgb(20, 20, 20);-->
<!--  background-size: cover;-->
<!--  transition: 1s ease;-->
<!--  }-->
<!--  nav{-->
<!--    color: black;-->
<!--    box-shadow: 10px 10px 60px 20px #000000;-->
<!--    transition: 1s ease;-->
<!--  }-->

<!--  #player{-->
<!--    margin:auto;-->
<!--    margin-top: 15%;-->
<!--    height: 700px;-->
<!--    width: 450px;-->
<!--    -->
<!--    border-radius: 20px;-->
<!--    box-shadow: 0px 0px 20px 20px #000000;-->
<!--    transition: 1s ease;-->
<!--  }-->
<!--  #player:hover-->
<!--  {-->
<!--    box-shadow: 10px 10px 60px 20px #000000;-->
<!--    transition: 1s ease;-->

<!--  }-->
<!--  #trackimg-->
<!--  {-->
<!--     -->
<!--    height:350px;-->
<!--    filter: saturate(120%) brightness(70%);-->
<!--    border-radius: 20px;-->
<!--    transition: 1s ease;-->
<!--    border-bottom-right-radius: 0px;-->
<!--    border-bottom-left-radius: 0px;-->
<!--    box-shadow: 0px 10px 50px #000000;-->
<!--  }-->
<!--  #trackimg:hover-->
<!--  {-->
<!--    transition: 1s ease;-->
<!--    filter: saturate(150%) brightness(110%);-->
<!--    box-shadow: 0px 10px 60px #000000;  -->
<!--  }-->
<!--  #trackname{-->
<!--    font-family: 'B612', sans-serif;-->
<!--    color:white;-->
<!--    margin:5%;-->
<!--    margin-top: 8%;-->
<!--    text-align: center;-->
<!--    font-size: 25px;-->
<!--    transition: 1s ease;-->
<!--  }-->

<!--  table{-->
<!--    margin:auto;-->
<!--    margin-top: 25%;-->
<!--    -->
<!--    transition: 1s ease;-->
<!--    -->
<!--  }-->
<!--  th{-->

<!--    margin: 75px;-->
<!--    height: 100px;-->
<!--    width: 100px;-->
<!--    transition: 1s ease;-->
<!--    /*border:solid 5px;*/-->
<!--  }-->
<!--  ion-icon{-->
<!--    font-size: 80px;-->
<!--    margin: 15%;-->
<!--    transition: 1s ease;-->

<!--  }-->
<!--  ion-icon:hover{-->
<!--    color:#39CCCC;-->
<!--    transition: 1s ease;-->
<!--  }-->
<!--  img{-->
<!--    width: 450px;-->
<!--    height: 350px;-->
<!--    object-fit: cover;-->
<!--    transition: 1s ease;-->
<!--  }-->
<!--  #playpause-->
<!--  {-->
<!--    transition: 1s easy;-->
<!--  }-->
<!--  #dark_mode{-->
<!--    margin-top: 0px;-->
<!--    margin-bottom: 0px;-->
<!--    padding-left: 40vw;-->
<!--    font-size: 25px;-->
<!--    text-align: right;-->
<!--    transition: 1s ease;-->
<!--  }-->
<!--  .nav-link{-->
<!--    font-size: 20px;-->

<!--  }-->
<!--</style>-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container">
  <a class="navbar-brand" href="{% url 'home' %}">Mood Player</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'player' %}">Player <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'form' %}">Form</a>
      </li>
      <li class="nav-item" id="darklight">
        <a class="nav-link" ><ion-icon id="dark_mode" name="sunny"></ion-icon></a>
      </li>

    </ul>
  </div>
  </div>
</nav>


<div class="container" >
  <div id="player" >
    <!-- <div id="trackimg" class="container"> -->
    <img  id="trackimg" src="https://upload.wikimedia.org/wikipedia/en/6/6b/Calvin_Harris_-_Feels_cover_art.png">      
    <!-- </div> -->
    <p id="trackname">Calvin Harris - Feels (Official Video) ft. Pharrell...</p>
     <audio id="mediaplayer"
        src="/media/examples/t-rex-roar.mp3"  autoplay=false>            
    </audio>
    <div id="mediabtn" class="container">
      <table>
        <th><ion-icon id="prevsong" name="play-back"></ion-icon></th>
        <th id="playbtn"><ion-icon  id="playpause" name="play"></ion-icon></th>
        <th><ion-icon id="nextsong" name="play-forward"></ion-icon></th>
      </table>
    </div>
  </div>
</div>
<script>// https://jatt.download/dren/music/data/French/201710/Feels/320/Feels_1.mp3/Feels.mp3
song_links=["https://jatt.download/dren/music/data/French/201710/Feels/320/Feels_1.mp3/Feels.mp3",
        "https://cmxclusives.com/wp-content/uploads/2020/02/BTS_ft_Halsey_-_Boy_With_Luv_(CMXclusives.com).mp3",
        "https://nl06.cutepup.club/b6763d5c5ac5be02467de/You%20Belong%20With%20Me%20By%20Taylor%20Swift.mp3",
        "https://fr01.cutepup.club/1ba7be085ac5bf352863e/Ed%20Sheeran%20-%20Shape%20Of%20You%20%5BOfficial%5D.mp3",
        "https://fr02.cutepup.club/a3f1cac95ac5c5097e30f/Charlie%20Puth%20-%20We%20Don%20t%20Talk%20Anymore%20feat.%20Selena%20Gomez.mp3",
        "https://fr05.cutepup.club/4f5c4cd65ad1ea672f880/Radioactive-Imagine%20Dragons.mp3"];


song_names=["Calvin Harris - Feels (Official Video) ft. Pharrell...",
        "BTS - Boys With Luv",
        "Taylor Swift - You Bleong With Me",
        "Ed Sheeran - Shape Of You",
        "Charlie Puth - We Don't Talk Anymore",
        "Imagine Dragons - Radioactive"];


song_imgs=["https://upload.wikimedia.org/wikipedia/en/6/6b/Calvin_Harris_-_Feels_cover_art.png",
        "https://upload.wikimedia.org/wikipedia/en/d/d9/BTS_-_Lights_%28w_DVD_Limited_Edition_-_Type_A%29.png",
        "https://upload.wikimedia.org/wikipedia/en/b/b9/Taylor_Swift_-_You_Belong_with_Me.png",
        "https://upload.wikimedia.org/wikipedia/en/b/b4/Shape_Of_You_%28Official_Single_Cover%29_by_Ed_Sheeran.png",
        "https://upload.wikimedia.org/wikipedia/en/4/40/Charlie_Puth_Feat._Selena_Gomez_-_We_Don%27t_Talk_Anymore_%28Official_Single_Cover%29.png",
        "https://upload.wikimedia.org/wikipedia/en/9/91/Imagine_Dragons_-_%22Radioactive%22_%28Single%29.jpg"];


var x=document.getElementById("mediaplayer");
var track_name= document.getElementById("trackname");
var track_img=document.getElementById("trackimg");
var index=0;

var bg=document.getElementsByTagName("body")[0];
// var player=document.getElementById("player");
var nav=document.getElementsByTagName("nav")[0];
a=0;

function playAudio() {
    x.play();
  }

function pauseAudio() {
    x.pause();
  }

function settrack()
{
    x.setAttribute("src",song_links[index]);
    track_name.innerHTML=song_names[index];
    track_img.setAttribute("src",song_imgs[index]);
}

function nexttrack()
{
    if(index<song_links.length-1)
    {
        index++;
    }
    else
    {
        index=0;
    }
    settrack();
    player();
    player();
}

function prevtrack()
{
    if(index>0)
    {
        index--;
    }
    else
    {
        index=song_links.length-1;
    }
    settrack();
    player();
    player();
}


function darklight()
{
    if(a==0)
    {
        a=1;
        dark_mode.setAttribute("name","sunny");
        bg.style.backgroundColor="rgb(160,160,160)";
        track_name.style.color="black";
        document.getElementById("player").style.boxShadow="0px 0px 20px 20px #f0f0f0";
        nav.style.boxShadow="0px 0px 20px 20px #f0f0f0";
    }
    else
    {
        a=0;
        dark_mode.setAttribute("name","partly-sunny");
        bg.style.backgroundColor="rgb(20,20,20)";
        track_name.style.color="white";
        document.getElementById("player").style.boxShadow="0px 0px 20px 20px #000000";
        nav.style.boxShadow="0px 0px 20px 20px #000000";
    }

}




function choose_track()
{
    index=Math.floor(Math.random() * song_links.length+2);
}
function player()
{
    // var media=document.getElementById("mediaplayer");
    if(playbtn.getAttribute("name")==="play")
        {
            playbtn.setAttribute("name","pause");
            playAudio();
        }
    else
        {
            pauseAudio();
            playbtn.setAttribute("name","play");
        }

   }


var dark_mode=document.getElementById("dark_mode");
var playbtn=document.getElementById("playpause");
var prevbtn=document.getElementById("prevsong");
var nextbtn=document.getElementById("nextsong");

x.setAttribute("src",song_links[index]);

playbtn.addEventListener('click',player);
prevbtn.addEventListener('click',prevtrack);
nextbtn.addEventListener('click',nexttrack);

dark_mode.addEventListener('click',darklight);</script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>

</html>